#navbar {
  background-color: transparent;
  color: var(--color-white);
  padding: 20px 0;
  position: fixed;
  top: 0;
  z-index: 10;
  transition: 0.5s ease-in-out;
}

#navbar.navbar-fixed {
  background-color: var(--color-black);
  padding: 10px 0;
}

#navbar .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar .navbar-logo {
  display: flex;
  align-items: center;
  color: var(--color-white);
  padding: 0 10px;
  cursor: pointer;
  transition: opacity 0.25s ease-in-out;
}

#navbar .navbar-logo:hover {
  opacity: 0.8;
}

#navbar .navbar-logo img {
  width: 38px;
}

#navbar .navbar-logo-title {
  display: none;
  margin-left: 10px;
}

#navbar .navbar-links {
  list-style: none;
  display: flex;
}

#navbar .navbar-links a {
  display: block;
  padding: 5px 10px;
  font-weight: bold;
}

@media (min-width: 768px) {
  #navbar .navbar-logo-title {
    display: initial;
  }
}
