#profile {
  width: 100%;
}

#profile .profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 525px;
  margin: 0 auto;
}

#profile .profile-image-container {
  margin: 15vh auto 0;
  width: 300px;
  height: 300px;
}

#profile .profile-image-container>div {
  border-radius: 50%;
  border: 5px solid var(--color-primary);
  height: 300px;
  width: 300px;
  margin: 0;
}

#profile .profile-image-container img {
  border-radius: 50%;
}

#profile .profile-container h1 {
  margin-top: 0.5em;
  font-size: 2.25em;
  text-align: center;
}

#profile .profile-container h4 {
  margin-top: 0.25em;
  font-size: 1em;
  text-align: center;
}

#profile .profile-container .profile-info-card {
  width: 100%;
  list-style: none;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}

#profile .profile-container .profile-info-cv {
  width: 100%;
  list-style: none;
  margin-top: 1em;
}

#profile .profile-container .profile-info-card p {
  font-size: 1.1em;
  margin-left: 2em;
}

#profile .profile-container a {
  margin-top: 0.5em;
  font-size: 1.1em;
}

@media (min-width: 768px) {
  #profile .profile-container img {
    margin-top: 10vh;
  }

  #profile .profile-container .profile-info-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 10px;
  }

  #profile .profile-container .profile-info-card p {
    margin-left: 2em;
  }

  #profile .profile-container a {
    margin-top: 1em;
    text-align: center;
  }
}