#search {
  width: 100%;
  height: 100%;
}

.search-wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search .search-title {
  width: 100%;
  text-align: center;
}

#search .search-description {
  width: 100%;
  margin-top: 1em;
  text-align: justify;
}

#search .search-description p {
  margin-top: 0.5em;
}

#search .search-form {
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

#search .search-form input {
  width: 100%;
  padding: 0.75em 0.5em;
  border-radius: 6px;
}

#search .search-form button {
  width: 100%;
  margin-top: 1em;
  padding: 0.75em 0.5em;
  background-color: #e01b5c;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;

  transition: background-color 0.25s ease-in-out;
}

#search .search-form button:hover,
#search .search-form button:active {
  background-color: #d80a4e;
}

#search .search-form button:disabled {
  cursor: not-allowed;
  color: black;
  opacity: 0.5;
}

#search .search-form button:disabled:hover,
#search .search-form button:disabled:active {
  background-color: #e01b5c;
}
