* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #02021d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.default-container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1180px;
}